
.jumbotron {
  text-align: center;
  background-color: #B0C4DE;
}
.col-md-12 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
body {
  font-family: "Tahoma", Geneva, sans-serif;
}
h1 {
  margin: 50px 20px 50px 20px;
}
.socials {
  text-align: right;
}
